/*for older browsers (gte IE9)*/
html, body {
  height: 100%;
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
h1 {
  font-size: 5em;
}
a {
  text-decoration: none;
  color: black;
}
.home {
  height: 100%;
}
.home h1 {
  height: 20%;
  margin: 0;
  padding-left: 20%;
}
.home ul {
  height: 60%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.home li {
  font-size: 4em;
}
