{% extends '../nickpale/home.html' %}

{% block title %}nick's thoughts{% endblock %}

{% block content %}
<nav class="back"><a href="{% url 'home' %}">Go Back</a></nav>
<main class="thoughts">
  {% if latest_entry_list %}
    <h1>Thoughts</h1>
    <ul>
    {% for entry in latest_entry_list %}
        <li><a href="{% url 'journal:entry' entry.id %}">{{ entry.heading_text }}</a> - {{ entry.pub_date }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No entries are available.</p>
  {% endif %}
</main>
{% endblock %}
