{% extends './home.html' %}

{% block title %}nick is social{% endblock %}

{% block content %}
<nav class="back"><a href="{% url 'home' %}">Go Back</a></nav>
<main class="social">
  <h1>"Social"</h1>
  <ul>
    <li><a href="{% url 'email' %}">email</a></li>
    <li><a href="https://nickpale.bandcamp.com" target="_blank">bandcamp</a></li>
    <li><a href="https://www.instagram.com/nick.pale/" target="_blank">instagram</a></li>
    <li><a href="https://twitter.com/nick_pale" target="_blank">twitter</a></li>
    <li><a href="https://www.facebook.com/nickpalemusic" target="_blank">facebook</a></li>
  </ul>
</main>
{% endblock %}
