{% extends '../nickpale/home.html' %}

{% block title %}Nick White - Software Engineer{% endblock %}

{% block content %}
<main class="pro">
  <h1>Nick White - Software Engineer</h1>
  <p>Welcome to my professional website!</p>
  <p>Here you will find information about me, including my resume and a collection of coding toys.</p>
  <p><strong>Enjoy!</strong></p>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Fun</a></li>
    <li><a href="#">Nick Pale</a></li>
  </ul>
</main>
{% endblock %}
